@charset "UTF-8";
:root {
  --font-family: "Readex", sans-serif;
  --Inter: "Inter", sans-serif;
  --content-width: 1294px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Readex";
  src: url("../fonts/../fonts/Readex.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
}
@media (min-width: px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: var(--container-width);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: var(--header--heights);
  --header--heights: 70px;
}
@media (max-width: 1024px) {
  .header {
    --header--heights: 60px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  height: 21px;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background-color: #f1f1f1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
    height: 100vh;
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.9);
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 280px;
    width: 100%;
    background: #fff;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    padding: 15px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 100px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
.nav__item {
  margin-left: 33px;
  position: relative;
}
@media (max-width: 1024px) {
  .nav__item {
    margin-left: 0;
    margin-bottom: 25px;
    font-size: 30px;
  }
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  padding-bottom: 3px;
  position: relative;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.nav__link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 1px;
  color: black;
  background: currentColor;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav__link:hover::after {
  width: 100%;
  left: 0%;
}
.nav__link:hover {
  scale: 1.03;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
@media (max-width: 1024px) {
  .nav__link {
    font-family: var(--font-family);
  }
}
.nav_burger_logo {
  display: none;
  width: 170px;
  height: auto;
  padding-top: 15px;
}
.nav_burger_info {
  display: none;
}

.vis {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.r-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  min-width: 70px;
}
.r-header .search__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 22px;
}
.r-header .search__block input {
  display: none;
  max-width: 350px;
}

.burger {
  display: none;
  position: relative;
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  --burger-bot-offset: 10px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 10px;
}
.burger::after {
  top: calc(100% - var(--burger-bot-offset));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 15%;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 85%;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active_menu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.burger--active .headoverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}

.headeroverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  max-width: 190px;
  color: black;
  margin-top: 30px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}

.product-slider {
  width: 100%;
  height: 550px;
  border-radius: 32px;
}
@media (max-width: 1024px) {
  .product-slider {
    height: 400px;
  }
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  background-color: #dce5e2;
}
.slide__content {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slide__title {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 19px;
  /* or 120% */
  color: #000000;
}
@media (max-width: 1024px) {
  .slide__title {
    font-size: 40px;
  }
}
.slide__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}
@media (max-width: 1024px) {
  .slide__subtitle {
    font-size: 14px;
    max-width: 350px;
  }
}
.slide__img {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .slide__img img {
    height: 400px;
  }
}
.slide__btn {
  max-width: 150px;
}
@media (max-width: 1024px) {
  .slide__btn {
    max-width: 120px;
  }
}

.swiper-pagination-bullet {
  min-width: 194px;
  max-width: 25%;
  height: 2px;
  border-radius: 0;
}
@media (max-width: 1024px) {
  .swiper-pagination-bullet {
    min-width: 120px;
  }
}
.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-button {
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: black;
}
.swiper-button::after {
  font-size: 30px;
}

.categories__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 800px;
}
@media (max-width: 1024px) {
  .categories__catalog {
    height: 600px;
  }
}
.categories__col-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 16px;
}
@media (max-width: 1024px) {
  .categories__col-1 {
    margin-right: 10px;
  }
}
.categories__item {
  -webkit-filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background-color: white;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.categories__item:hover {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  background-color: rgb(228, 228, 228);
}
.categories__laptops {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.categories__laptops .col__content {
  right: 7%;
  bottom: 0;
  max-width: 30%;
}
.categories__laptops .col__img {
  max-width: 77%;
  margin-left: 6.5%;
  height: auto;
}
.categories__watch {
  height: 35%;
}
.categories__watch .col__content {
  right: 7%;
  bottom: 32%;
  max-width: 30%;
}
.categories__watch .col__img {
  margin-left: 6.5%;
  height: 100%;
}
.categories__watch .col__img img {
  max-width: 100%;
  max-height: 100%;
}
.categories__vertical-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 18% 0;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.categories__vertical-item:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.categories__vertical-item .col__content {
  position: initial;
  margin-top: 40px;
  max-width: 80%;
}
.categories__vertical-item .col__text {
  text-align: center;
}
.categories__tablets .col__content {
  margin-bottom: 40px;
}

.col {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 1024px) {
  .col {
    gap: 10px;
  }
}
.col__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.col__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: right;
  color: #000000;
}
@media (max-width: 1024px) {
  .col__title {
    font-size: 13px;
  }
}
.col__text {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: right;
  color: #000000;
}
@media (max-width: 1024px) {
  .col__text {
    font-size: 24px;
  }
}

.section {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .section {
    padding-top: 50px;
  }
}
.section__title {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
}
@media (max-width: 1024px) {
  .section__title {
    font-size: 36px;
  }
}
.section__subtitle {
  margin-top: 8px;
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  max-width: 600px;
  margin-bottom: 56px;
}
@media (max-width: 1024px) {
  .section__subtitle {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.selled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.selled__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 23.3%;
  min-height: 396px;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.selled__item__img {
  min-height: 270px;
}
.selled__item__title {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}
.selled__item__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4b4b4b;
}
.selled__item__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.selled__item__btn {
  margin-top: 0;
  min-height: 30px;
  width: 100px;
}
.selled__item:hover {
  scale: 1.1;
}

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.best__item {
  padding-top: 41px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f9fa;
}
.best__item__title {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.best__item__subtitle {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.best__btn {
  width: 190px;
  margin-bottom: 30px;
}

.ideas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ideas__img img {
  width: 620px;
  height: 420px;
  border-radius: 16px;
}
.ideas__paragraphs {
  padding-left: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.ideas__paragraphs p {
  margin-bottom: 23px;
}
.ideas__link {
  margin-top: 74px;
  padding-right: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height, or 120% */
  background: url("../../img/arrow-best.png") no-repeat right;
  text-transform: capitalize;
  color: #000000;
}

.section-search .section__title {
  margin-bottom: 50px;
}

.search {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.search__input ::-webkit-input-placeholder {
  color: black;
}
.search__input ::-moz-placeholder {
  color: black;
}
.search__input :-ms-input-placeholder {
  color: black;
}
.search__input ::-ms-input-placeholder {
  color: black;
}
.search__input ::placeholder {
  color: black;
}
.search__img {
  height: 25px;
  margin-right: 15px;
}
.search__keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.search__keyword {
  padding: 12px 22px;
  border: 1px solid #c5c5c5;
  border-radius: 100px;
}

.input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 650px;
  height: 60px;
  padding: 0 15px;
  background-color: #f8f9fa;
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  margin-bottom: 18px;
}

.sing-up {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 72%;
  margin: 61px auto 0 auto;
  background-color: #dce5e2;
  border-radius: 16px;
}
.sing-up .section__title {
  margin-top: 47px;
}
.sing-up .section__subtitle {
  margin-bottom: 14px;
}
.sing-up__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sing-up__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sing-up__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 43px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  overflow: hidden;
  padding-left: 15px;
}
.sing-up__btn {
  height: 100%;
  width: 28%;
  border-left: 2px solid black;
  color: black;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sing-up__btn:hover {
  color: white;
  background-color: black;
}
.sing-up__input {
  width: 100%;
}

.footer {
  margin-top: 19px;
  width: 100%;
  background-color: #f8f9fa;
}
.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 45px;
  margin-top: 38px;
  border-top: 1px solid #dce5e2;
  height: 78px;
}
.footer .footer__copyright__link {
  margin-bottom: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-right: 40px;
  /* identical to box height, or 120% */
  background: url("../../img/arrow-best.png") no-repeat right;
  color: #000000;
}
.footer .footer__copyright__link span {
  font-family: "Readex";
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
}
.footer__info {
  width: 30%;
}
.footer__info__text {
  max-width: 300px;
  margin-top: 18px;
}
.footer__nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__list__title {
  font-family: "Readex";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}
.footer__list__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 19px;
}
.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: var(--vh);
}

body {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */